@use 'base/variables' as v;

.back{
    transform: perspective(300px) rotateY(180deg);
    transition: transform 1s linear, opacity 1s linear;
    &--active{
        transform: perspective(300px) rotateY(360deg);
        transition: transform 1s linear, opacity 1s linear;
    }
}

.back-card{
    padding: 40px 25px;
    text-align: center;

    &__img{
        width: 125px;
    }
}


.selected{
    margin-top: 20px;

    &__text{
        width: 60%;
        margin: 0 auto;
        font-size: 12px;
        background-color: v.$bg;
        color:v.$orange;
        padding: 5px;
        border-radius: 15px;
        font-weight: 400;
    }
}
.gratitude{
    margin-top: 20px;

    &__heading{
        font-size: 21px;
        font-weight: 400;
    }

    &__text{
        margin-top: 10px;
        font-size: 12px;
        color: v.$textColor;
        line-height: 1.6;
    }
}