@use 'variables' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: v.$Very-Dark;
    color: v.$white;
    height: 100vh;
    font-family: v.$font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bg{
    position: absolute;
    inset: 0;
    border-radius: inherit;
    backface-visibility: hidden;
    background:linear-gradient(to bottom, lighten( v.$primary , 4%) 0% , v.$primary) ;
}

.bottom-bg{
    background-color:v.$bg;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bg--item{
    width: 40px;
    height: 40px;
}

.sr-only{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    display: block;
    border: 0;
}