@use 'base/variables' as v;

.front{
    transform: perspective(300px) rotateY(0deg);
    transition: transform 1s linear, opacity 1s linear;
    &--active{
        transform: perspective(300px) rotateY(180deg);
    }
}

.face{
    padding: 25px 36px 25px 25px;

    &__img{
        &--svg{
            width: 13px;
        }
    }
}

.description{
    margin-top: 25px;

    &__heading{
        font-size: 22px;
        font-weight: 400;
    }

    &__text{
        margin-top:8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: v.$textColor;
    }
}

.options{
    margin-top:20px;
    display: flex;
    justify-content: space-between;

    &__item{
        font-size: 12px;
        padding: 12px;
        color: v.$textColor;
        text-decoration: none;
        transition:background-color .3s linear,  color .3s linear;
        cursor: pointer;

        &:hover{
            background-color: v.$orange;
            outline: none;
            color: v.$white;
        }
    }

    &__input{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        background-color: v.$orange;
        color: v.$white;
        cursor: pointer;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        transition:background-color .3s linear,  color .3s linear;
        &:hover{
            color: v.$orange;
            background-color: v.$white;
        }
    }
}
.checkbox{
    display: none;

    &:checked ~ .options__item{
        background-color: v.$textColor;
        color: #fff;
 }
}
